/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.left {
  float: left; }

.right {
  float: right; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.page {
  min-height: 100%;
  padding-bottom: 80px;
  background-color: #ffffff; }
  .page_item {
    display: none; }
    .page_item--active {
      display: block; }

.form {
  padding: 30px; }
  .form:after {
    content: "";
    display: table;
    clear: both; }
  .form_title {
    margin: 0 0 20px;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; }
  .form_section {
    float: left;
    width: 100%;
    max-width: 1020px;
    margin-bottom: 10px; }
    .form_section:after {
      content: "";
      display: table;
      clear: both; }
    .form_section--half {
      width: 100%; }
    .form_section--full {
      float: none;
      clear: both; }
    .form_section--no-margin {
      margin-bottom: 0; }
    @media screen and (min-width: 1080px) {
      .form_section--half {
        width: calc(50% - 10px);
        max-width: 500px;
        margin-right: 10px; }
        .form_section--half + .form_section--half {
          margin-left: 10px;
          margin-right: 0; } }
  .form_item {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
    .form_item--full {
      width: 100%; }
    .form_item--break {
      clear: left; }
    .form_item--isolate {
      margin-left: 60px; }

.tabs {
  height: 80px;
  background-color: #297ac5; }
  .tabs_item {
    display: inline-block;
    padding: 0 20px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 80px;
    cursor: pointer; }
    .tabs_item--active {
      background-color: #0f5ca3; }

.header {
  height: 80px;
  padding: 0 30px;
  background-color: #0f5ca3;
  line-height: 80px; }
  .header_title {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #2a3035;
  padding: 20px 30px;
  z-index: 10; }
  .footer_components--right {
    float: right; }
  .footer_components--left {
    float: left; }
  .footer_title {
    line-height: 40px;
    color: #ffffff; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border: none; }
  .table_header {
    color: #ffffff; }
    .table_header th {
      font-weight: 300; }
  .table_title {
    margin-left: -40px; }
  .table_body tr {
    border-bottom: 1px solid #eeeeee; }
  .table_row--title {
    background-color: #1f6bb0; }
    .table_row--title th {
      height: 25px;
      padding: 0 10px;
      text-align: center;
      text-transform: uppercase; }
      .table_row--title th:first-child {
        display: block;
        float: left;
        width: 0; }
  .table_row--header {
    background-color: #3498db; }
    .table_row--header th {
      height: 50px;
      text-align: left; }
  .table_cell {
    height: 40px;
    padding: 0 10px;
    vertical-align: middle; }
    .table_cell:first-child, .table_cell:first-child > div {
      width: 20px;
      text-align: center; }
    .table_cell:nth-child(2) > div {
      max-width: 380px; }
    .table_cell:nth-last-child(4), .table_cell:nth-last-child(4) > div {
      width: 130px; }
    .table_cell:nth-last-child(2), .table_cell:nth-last-child(2) > div, .table_cell:nth-last-child(3), .table_cell:nth-last-child(3) > div {
      width: 10px; }
    .table_cell:last-child, .table_cell:last-child > div {
      width: 100px; }
    .table_cell > div {
      max-width: 400px;
      line-height: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .table_delete {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #e74c3c;
    color: #ffffff;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
    cursor: pointer; }

.button {
  display: inline-block;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #0f5ca3;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 36px;
  cursor: pointer; }
  .button + .button {
    margin-left: 6px; }
  .button--square {
    padding: 0;
    width: 36px;
    text-align: center; }
  .button--citrus {
    background-color: #f1af0f;
    color: #22272b; }
    .button--citrus:hover {
      background-color: #dc9e27; }
  .button--dark-slate {
    background-color: #22272b;
    color: #ffffff; }
    .button--dark-slate:hover {
      background-color: #1F2327; }
  .button--transparent {
    background-color: transparent;
    color: #f1f1f1; }
    .button--transparent:hover {
      background-color: rgba(34, 39, 43, 0.1); }

.tooltip {
  position: absolute;
  display: none;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  pointer-events: none;
  z-index: 30;
  background-color: #f1af0f;
  color: #22272b; }
  .tooltip, .tooltip--top, .tooltip--top-left {
    border-radius: 3px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    border-bottom-left-radius: 0;
    left: 0;
    bottom: calc(100% + 14px); }
    .tooltip:before, .tooltip--top:before, .tooltip--top-left:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      border: 0 solid transparent; }
    .tooltip:before, .tooltip--top:before, .tooltip--top-left:before {
      border-width: 5px 10px;
      top: 100%;
      border-top-color: #dc9e27;
      left: 0;
      border-right-color: #dc9e27; }
  .tooltip--top-right {
    border-radius: 3px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    border-bottom-right-radius: 0;
    right: 0;
    bottom: calc(100% + 14px); }
    .tooltip--top-right:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      border: 0 solid transparent; }
    .tooltip--top-right:before {
      border-width: 5px 10px;
      top: 100%;
      border-top-color: #dc9e27;
      right: 0;
      border-left-color: #dc9e27; }
  .tooltip--bottom-left {
    border-radius: 3px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    border-top-left-radius: 0;
    left: 0;
    top: calc(100% + 14px); }
    .tooltip--bottom-left:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      border: 0 solid transparent; }
    .tooltip--bottom-left:before {
      border-width: 5px 10px;
      bottom: 100%;
      border-bottom-color: #dc9e27;
      left: 0;
      border-right-color: #dc9e27; }
  .tooltip--bottom, .tooltip--bottom-right {
    border-radius: 3px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    border-top-right-radius: 0;
    right: 0;
    top: calc(100% + 14px); }
    .tooltip--bottom:before, .tooltip--bottom-right:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      border: 0 solid transparent; }
    .tooltip--bottom:before, .tooltip--bottom-right:before {
      border-width: 5px 10px;
      bottom: 100%;
      border-bottom-color: #dc9e27;
      right: 0;
      border-left-color: #dc9e27; }
  .tooltip--right, .tooltip--left {
    border-radius: 3px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    top: calc(50% - 15px);
    white-space: nowrap; }
  .tooltip--right {
    left: calc(100% + 15px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .tooltip--right:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      border: 0 solid transparent; }
    .tooltip--right:before {
      border-width: 15px 10px;
      top: calc(50% - 15px);
      right: 100%;
      border-right-color: #dc9e27; }
  .tooltip--left {
    right: calc(100% + 15px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
    .tooltip--left:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      border: 0 solid transparent; }
    .tooltip--left:before {
      border-width: 15px 10px;
      top: calc(50% - 15px);
      left: 100%;
      border-left-color: #dc9e27; }
  .tooltip--no-arrow {
    border-radius: 3px !important; }
    .tooltip--no-arrow:before {
      display: none; }

.field {
  display: inline-block; }
  .field_delete, .field_help {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
    cursor: pointer; }
  .field_delete {
    margin-right: 8px;
    background-color: #e74c3c;
    color: #ffffff; }
  .field_help {
    position: relative;
    margin-left: 8px;
    background-color: #f1af0f;
    color: #22272b;
    vertical-align: middle; }
    .field_help:before {
      content: '?'; }
    .field_help:hover .tooltip {
      display: block; }
  .field--text .field_label, .field--textarea .field_label {
    display: block;
    line-height: 22px; }
  .field--text .field_crumb, .field--textarea .field_crumb {
    display: inline-block;
    color: #545b62;
    line-height: 40px; }
    .field--text .field_crumb + input, .field--textarea .field_crumb + input {
      margin-left: 5px; }
  .field--text .field_input, .field--textarea .field_input {
    display: inline-block;
    height: 40px;
    padding: 10px 8px;
    border: none;
    background: #eeeeee;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 40px; }
    .field--text .field_input--short, .field--textarea .field_input--short {
      max-width: 150px; }
    .field--text .field_input::placeholder, .field--textarea .field_input::placeholder {
      font-family: "Open Sans", sans-serif; }
    .field--text .field_input:focus, .field--textarea .field_input:focus {
      outline: none; }
    .field--text .field_input + span, .field--textarea .field_input + span {
      margin-left: 5px; }
  .field--checkbox .field_label {
    display: inline-block;
    line-height: 22px; }
  .field--checkbox .field_input {
    display: none; }
    .field--checkbox .field_input + label:before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 8px;
      background: #eeeeee;
      border-radius: 3px;
      color: #ffffff;
      text-align: center;
      line-height: 18px;
      cursor: pointer;
      vertical-align: text-bottom; }
    .field--checkbox .field_input:checked + label:before {
      content: "\2713";
      background: #297ac5; }
    .field--checkbox .field_input--teal:checked + label:before {
      background: #1abc9c; }
  .field--tall {
    padding-top: 22px;
    line-height: 40px; }
  .field--radio fieldset {
    line-height: 40px; }
  .field--radio .field_label {
    display: inline-block;
    line-height: 22px; }
  .field--radio .field_input {
    display: none; }
    .field--radio .field_input + label:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 8px;
      background: #ffffff;
      border: 4px solid #eeeeee;
      border-radius: 50%;
      color: #ffffff;
      text-align: center;
      line-height: 18px;
      cursor: pointer;
      vertical-align: text-bottom; }
    .field--radio .field_input + label ~ label {
      margin-left: 10px; }
    .field--radio .field_input:checked + label:before {
      background: #297ac5; }
    .field--radio .field_input--teal:checked + label:before {
      background: #1abc9c; }
    .field--radio .field_input--citrus:checked + label:before {
      background: #f1af0f; }
  .field--list {
    width: 100%;
    position: relative; }
    .field--list .field_items {
      margin-bottom: 10px; }
    .field--list .field_item {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #eeeeee; }
      .field--list .field_item .field_value {
        display: inline-block;
        width: calc(100% - 38px);
        padding: 10px 0;
        line-height: 18px;
        white-space: normal;
        vertical-align: middle; }
      .field--list .field_item--truncate {
        line-height: 40px; }
        .field--list .field_item--truncate .field_value {
          display: inline;
          width: auto;
          padding: 0;
          white-space: nowrap; }
      .field--list .field_item:first-child {
        border-top: 1px solid #eeeeee; }
    .field--list .field_input {
      width: calc(100% - 40px); }
    .field--list .field_submit {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 40px;
      height: 40px;
      background-color: #297ac5;
      color: #ffffff;
      font-size: 28px;
      text-align: center;
      line-height: 40px;
      cursor: pointer; }
  .field--textarea .field_input {
    display: block;
    height: 160px;
    line-height: 18px;
    resize: none; }
  .field--textarea .field_submit {
    height: 160px;
    line-height: 160px; }
  .field--submit {
    line-height: 40px; }
    .field--submit .field_input {
      display: inline-block;
      width: 105px;
      height: 40px;
      line-height: 18px;
      padding: 10px 8px;
      background-color: #1abc9c;
      border: none;
      border-radius: 3px;
      box-shadow: inset #0da084 0 0 10px;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      color: transparent;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      resize: none; }
      .field--submit .field_input::placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        color: #ffffff;
        text-indent: -95px; }
      .field--submit .field_input:focus {
        outline: none;
        background-color: #0da084;
        box-shadow: inset #3a925f 0 0 10px; }
        .field--submit .field_input:focus::placeholder {
          text-indent: 0; }
      .field--submit .field_input--error, .field--submit .field_input--error:focus {
        background-color: #ec6a4c;
        box-shadow: inset #e74c3c 0 0 10px; }
        .field--submit .field_input--error::placeholder, .field--submit .field_input--error:focus::placeholder {
          text-indent: -245px; }
    .field--submit .field_submit {
      height: 160px;
      line-height: 160px; }

.preview {
  position: fixed;
  top: 0;
  right: -1040px;
  bottom: 80px;
  width: 100%;
  max-width: 1040px;
  background-color: #f1f1f1;
  z-index: 5;
  transition: ease-in-out 0.5s; }
  .preview--open {
    right: -20px;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2); }
  .preview_toggle {
    position: absolute;
    top: calc(50% - 20px);
    left: -40px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f1af0f;
    color: #2a3035;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer; }
    .preview_toggle:before {
      content: "\1F441"; }
  .preview_container {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 0;
    bottom: 20px;
    padding-right: 40px;
    overflow-y: scroll; }

/* Imported Zendesk Styles */
.zendesk-comment html, .zendesk-comment body, .zendesk-comment div, .zendesk-comment span, .zendesk-comment object, .zendesk-comment iframe,
.zendesk-comment h1, .zendesk-comment h2, .zendesk-comment h3, .zendesk-comment h4, .zendesk-comment h5, .zendesk-comment h6, .zendesk-comment p, .zendesk-comment blockquote, .zendesk-comment pre,
.zendesk-comment abbr, .zendesk-comment address, .zendesk-comment cite, .zendesk-comment code,
.zendesk-comment del, .zendesk-comment dfn, .zendesk-comment em, .zendesk-comment img, .zendesk-comment ins, .zendesk-comment kbd, .zendesk-comment q, .zendesk-comment samp,
.zendesk-comment small, .zendesk-comment strong, .zendesk-comment sub, .zendesk-comment sup, .zendesk-comment var,
.zendesk-comment b, .zendesk-comment i,
.zendesk-comment dl, .zendesk-comment dt, .zendesk-comment dd, .zendesk-comment ol, .zendesk-comment ul, .zendesk-comment li,
.zendesk-comment fieldset, .zendesk-comment form, .zendesk-comment label, .zendesk-comment legend,
.zendesk-comment table, .zendesk-comment caption, .zendesk-comment tbody, .zendesk-comment tfoot, .zendesk-comment thead, .zendesk-comment tr,
.zendesk-comment article, .zendesk-comment aside, .zendesk-comment canvas, .zendesk-comment details, .zendesk-comment figcaption, .zendesk-comment figure,
.zendesk-comment footer, .zendesk-comment header, .zendesk-comment hgroup, .zendesk-comment menu, .zendesk-comment nav, .zendesk-comment section, .zendesk-comment summary,
.zendesk-comment time, .zendesk-comment mark, .zendesk-comment audio, .zendesk-comment video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

.zendesk-comment td, .zendesk-comment th {
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

.zendesk-comment a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

.zendesk-comment table {
  border-collapse: collapse;
  border-spacing: 0; }

.zendesk-comment hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

.zendesk-comment body {
  font: 14px system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif; }

.zendesk-comment strong, .zendesk-comment em, .zendesk-comment b, .zendesk-comment i, .zendesk-comment h1, .zendesk-comment h2, .zendesk-comment h3, .zendesk-comment h4, .zendesk-comment h5, .zendesk-comment h6, .zendesk-comment address {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif; }

.zendesk-comment body, .zendesk-comment select, .zendesk-comment input, .zendesk-comment textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #555;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

.zendesk-comment h1, .zendesk-comment h2, .zendesk-comment h3, .zendesk-comment h4, .zendesk-comment h5, .zendesk-comment h6 {
  font-weight: 600; }

.zendesk-comment ul, .zendesk-comment ol {
  margin-left: 1.8em; }

.zendesk-comment strong, .zendesk-comment b, .zendesk-comment th {
  font-weight: 600; }

.zendesk-comment td, .zendesk-comment td img {
  vertical-align: top; }

.zendesk-comment a, .zendesk-comment label, .zendesk-comment input[type="button"], .zendesk-comment input[type="submit"], .zendesk-comment input[type="image"], .zendesk-comment button {
  cursor: pointer; }

.zendesk-comment a:link {
  -webkit-tap-highlight-color: #FF5E99; }

.zendesk-comment a, .zendesk-comment a:hover {
  text-decoration: none; }

.zendesk-comment .zendesk-editor--rich-text-comment, .zendesk-comment .markdown_formatting, .zendesk-comment .markdown_preview, .zendesk-comment .event .comment {
  word-wrap: break-word;
  font-size: 14px;
  line-height: 20px; }

.zendesk-comment .zendesk-editor--rich-text-comment.zendesk-editor--rich-text-comment ul, .zendesk-comment .zendesk-editor--rich-text-comment.zendesk-editor--rich-text-comment ol, .zendesk-comment .markdown_formatting.zendesk-editor--rich-text-comment ul, .zendesk-comment .zendesk-editor--rich-text-comment.markdown_preview ul, .zendesk-comment .event .zendesk-editor--rich-text-comment.comment ul, .zendesk-comment .markdown_formatting.zendesk-editor--rich-text-comment ol, .zendesk-comment .zendesk-editor--rich-text-comment.markdown_preview ol, .zendesk-comment .event .zendesk-editor--rich-text-comment.comment ol {
  margin: 0px 15px; }

.zendesk-comment .zendesk-editor--rich-text-comment.zendesk-editor--rich-text-comment ul li,
.zendesk-comment .zendesk-editor--rich-text-comment.zendesk-editor--rich-text-comment ol li, .zendesk-comment .markdown_formatting.zendesk-editor--rich-text-comment ul li, .zendesk-comment .zendesk-editor--rich-text-comment.markdown_preview ul li, .zendesk-comment .event .zendesk-editor--rich-text-comment.comment ul li,
.zendesk-comment .markdown_formatting.zendesk-editor--rich-text-comment ol li, .zendesk-comment .zendesk-editor--rich-text-comment.markdown_preview ol li, .zendesk-comment .event .zendesk-editor--rich-text-comment.comment ol li {
  margin: 0; }

.zendesk-comment .zendesk-editor--rich-text-comment.markdown_formatting ul, .zendesk-comment .zendesk-editor--rich-text-comment.markdown_preview ul, .zendesk-comment .event .zendesk-editor--rich-text-comment.comment ul, .zendesk-comment .zendesk-editor--rich-text-comment.markdown_formatting ol, .zendesk-comment .zendesk-editor--rich-text-comment.markdown_preview ol, .zendesk-comment .event .zendesk-editor--rich-text-comment.comment ol, .zendesk-comment .markdown_formatting.markdown_formatting ul, .zendesk-comment .markdown_preview ul, .zendesk-comment .event .comment ul, .zendesk-comment .markdown_formatting.markdown_formatting ol, .zendesk-comment .markdown_preview ol, .zendesk-comment .event .comment ol {
  margin: -8px 0 15px 15px; }

.zendesk-comment .zendesk-editor--rich-text-comment.markdown_formatting ul li, .zendesk-comment .zendesk-editor--rich-text-comment.markdown_preview ul li, .zendesk-comment .event .zendesk-editor--rich-text-comment.comment ul li,
.zendesk-comment .zendesk-editor--rich-text-comment.markdown_formatting ol li, .zendesk-comment .zendesk-editor--rich-text-comment.markdown_preview ol li, .zendesk-comment .event .zendesk-editor--rich-text-comment.comment ol li, .zendesk-comment .markdown_formatting.markdown_formatting ul li, .zendesk-comment .markdown_preview ul li, .zendesk-comment .event .comment ul li,
.zendesk-comment .markdown_formatting.markdown_formatting ol li, .zendesk-comment .markdown_preview ol li, .zendesk-comment .event .comment ol li {
  margin: 10px 0; }

.zendesk-comment .zendesk-editor--rich-text-comment p,
.zendesk-comment .zendesk-editor--rich-text-comment blockquote p,
.zendesk-comment .zendesk-editor--rich-text-comment ul li,
.zendesk-comment .zendesk-editor--rich-text-comment ol li,
.zendesk-comment .zendesk-editor--rich-text-comment ul li p,
.zendesk-comment .zendesk-editor--rich-text-comment ol li p, .zendesk-comment .markdown_formatting p, .zendesk-comment .markdown_preview p, .zendesk-comment .event .comment p,
.zendesk-comment .markdown_formatting blockquote p, .zendesk-comment .markdown_preview blockquote p, .zendesk-comment .event .comment blockquote p,
.zendesk-comment .markdown_formatting ul li, .zendesk-comment .markdown_preview ul li, .zendesk-comment .event .comment ul li,
.zendesk-comment .markdown_formatting ol li, .zendesk-comment .markdown_preview ol li, .zendesk-comment .event .comment ol li,
.zendesk-comment .markdown_formatting ul li p, .zendesk-comment .markdown_preview ul li p, .zendesk-comment .event .comment ul li p,
.zendesk-comment .markdown_formatting ol li p, .zendesk-comment .markdown_preview ol li p, .zendesk-comment .event .comment ol li p {
  font-size: 14px;
  line-height: 20px; }

.zendesk-comment .zendesk-editor--rich-text-comment p, .zendesk-comment .markdown_formatting p, .zendesk-comment .markdown_preview p, .zendesk-comment .event .comment p {
  margin: 0 0 16px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif; }

.zendesk-comment .zendesk-editor--rich-text-comment div.zd-comment div:not(.signature) p, .zendesk-comment .markdown_formatting div.zd-comment div:not(.signature) p, .zendesk-comment .markdown_preview div.zd-comment div:not(.signature) p, .zendesk-comment .event .comment div.zd-comment div:not(.signature) p {
  margin: 0; }

.zendesk-comment .zendesk-editor--rich-text-comment h1, .zendesk-comment .zendesk-editor--rich-text-comment h2, .zendesk-comment .zendesk-editor--rich-text-comment h3,
.zendesk-comment .zendesk-editor--rich-text-comment h4, .zendesk-comment .zendesk-editor--rich-text-comment h5, .zendesk-comment .zendesk-editor--rich-text-comment h6, .zendesk-comment .markdown_formatting h1, .zendesk-comment .markdown_preview h1, .zendesk-comment .event .comment h1, .zendesk-comment .markdown_formatting h2, .zendesk-comment .markdown_preview h2, .zendesk-comment .event .comment h2, .zendesk-comment .markdown_formatting h3, .zendesk-comment .markdown_preview h3, .zendesk-comment .event .comment h3,
.zendesk-comment .markdown_formatting h4, .zendesk-comment .markdown_preview h4, .zendesk-comment .event .comment h4, .zendesk-comment .markdown_formatting h5, .zendesk-comment .markdown_preview h5, .zendesk-comment .event .comment h5, .zendesk-comment .markdown_formatting h6, .zendesk-comment .markdown_preview h6, .zendesk-comment .event .comment h6 {
  color: #333;
  font-weight: 600;
  margin: 5px 0 5px;
  text-transform: none; }

.zendesk-comment .zendesk-editor--rich-text-comment h1, .zendesk-comment .markdown_formatting h1, .zendesk-comment .markdown_preview h1, .zendesk-comment .event .comment h1 {
  font-size: 23px;
  margin: 5px 0 15px;
  line-height: 27px; }

.zendesk-comment .zendesk-editor--rich-text-comment h2, .zendesk-comment .markdown_formatting h2, .zendesk-comment .markdown_preview h2, .zendesk-comment .event .comment h2 {
  font-size: 20px;
  margin: 5px 0 10px;
  line-height: 23px; }

.zendesk-comment .zendesk-editor--rich-text-comment h3, .zendesk-comment .markdown_formatting h3, .zendesk-comment .markdown_preview h3, .zendesk-comment .event .comment h3 {
  font-size: 17px;
  line-height: 21px; }

.zendesk-comment .zendesk-editor--rich-text-comment h4, .zendesk-comment .markdown_formatting h4, .zendesk-comment .markdown_preview h4, .zendesk-comment .event .comment h4 {
  font-size: 15px;
  line-height: 19px; }

.zendesk-comment .zendesk-editor--rich-text-comment h5, .zendesk-comment .markdown_formatting h5, .zendesk-comment .markdown_preview h5, .zendesk-comment .event .comment h5 {
  font-size: 14px;
  line-height: 20px; }

.zendesk-comment .zendesk-editor--rich-text-comment h6, .zendesk-comment .markdown_formatting h6, .zendesk-comment .markdown_preview h6, .zendesk-comment .event .comment h6 {
  font-size: 14px;
  line-height: 20px;
  color: #777; }

.zendesk-comment .zendesk-editor--rich-text-comment blockquote, .zendesk-comment .markdown_formatting blockquote, .zendesk-comment .markdown_preview blockquote, .zendesk-comment .event .comment blockquote {
  padding-left: 10px;
  border-left: 2px solid #CCC;
  margin: 0 0 16px 0; }

.zendesk-comment .zendesk-editor--rich-text-comment blockquote p, .zendesk-comment .markdown_formatting blockquote p, .zendesk-comment .markdown_preview blockquote p, .zendesk-comment .event .comment blockquote p {
  color: #888;
  font-weight: 400; }

.zendesk-comment .zendesk-editor--rich-text-comment blockquote li, .zendesk-comment .markdown_formatting blockquote li, .zendesk-comment .markdown_preview blockquote li, .zendesk-comment .event .comment blockquote li {
  color: #888; }

.zendesk-comment .zendesk-editor--rich-text-comment ul, .zendesk-comment .markdown_formatting ul, .zendesk-comment .markdown_preview ul, .zendesk-comment .event .comment ul {
  padding-left: 15px;
  list-style: disc; }

.zendesk-comment .zendesk-editor--rich-text-comment ul li, .zendesk-comment .markdown_formatting ul li, .zendesk-comment .markdown_preview ul li, .zendesk-comment .event .comment ul li {
  font-size: 14px; }

.zendesk-comment .zendesk-editor--rich-text-comment ul li p, .zendesk-comment .markdown_formatting ul li p, .zendesk-comment .markdown_preview ul li p, .zendesk-comment .event .comment ul li p {
  margin: 0; }

.zendesk-comment .zendesk-editor--rich-text-comment ol, .zendesk-comment .markdown_formatting ol, .zendesk-comment .markdown_preview ol, .zendesk-comment .event .comment ol {
  padding-left: 15px; }

.zendesk-comment .zendesk-editor--rich-text-comment ol li, .zendesk-comment .markdown_formatting ol li, .zendesk-comment .markdown_preview ol li, .zendesk-comment .event .comment ol li {
  font-size: 14px; }

.zendesk-comment .zendesk-editor--rich-text-comment ol li p, .zendesk-comment .markdown_formatting ol li p, .zendesk-comment .markdown_preview ol li p, .zendesk-comment .event .comment ol li p {
  margin: 0; }

.zendesk-comment .zendesk-editor--rich-text-comment img, .zendesk-comment .markdown_formatting img, .zendesk-comment .markdown_preview img, .zendesk-comment .event .comment img {
  max-width: 100%; }

.zendesk-comment .zendesk-editor--rich-text-comment code, .zendesk-comment .markdown_formatting code, .zendesk-comment .markdown_preview code, .zendesk-comment .event .comment code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: pre-wrap;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, "Bitstream Vera Sans Mono", Courier, monospace; }

.zendesk-comment .zendesk-editor--rich-text-comment pre, .zendesk-comment .markdown_formatting pre, .zendesk-comment .markdown_preview pre, .zendesk-comment .event .comment pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  line-height: 19px;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0; }

.zendesk-comment .zendesk-editor--rich-text-comment pre code, .zendesk-comment .markdown_formatting pre code, .zendesk-comment .markdown_preview pre code, .zendesk-comment .event .comment pre code {
  font-family: Consolas, "Liberation Mono", Menlo, "Bitstream Vera Sans Mono", Courier, monospace;
  background: none;
  white-space: pre-wrap;
  word-break: break-word;
  border: 0;
  margin: 0;
  padding: 0; }

.zendesk-comment .zendesk-editor--rich-text-comment pre p, .zendesk-comment .markdown_formatting pre p, .zendesk-comment .markdown_preview pre p, .zendesk-comment .event .comment pre p {
  margin: 0; }

.zendesk-comment .rich_text .event .comment blockquote {
  margin: 0; }

.zendesk-comment .rich_text .event .comment blockquote p {
  margin: 0; }

.zendesk-comment .event .comment {
  position: relative; }

.zendesk-comment .event .comment .zd-comment:not(.zd-comment-pre-styled) table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%; }

.zendesk-comment .event .comment .zd-comment:not(.zd-comment-pre-styled) table td, .zendesk-comment .event .comment .zd-comment:not(.zd-comment-pre-styled) table th {
  padding: 5px;
  border: 1px solid #ddd;
  vertical-align: top; }

.zendesk-comment .event:not(.is-public) .comment {
  background-color: #FFF6D9;
  border: 1px solid #EFDAA3;
  padding: 12px 16px 14px;
  border-radius: 3px;
  color: #333; }

.zendesk-comment .event:not(.is-public) .comment .zd-comment {
  margin-bottom: 0px; }

.zendesk-comment .event:not(.is-public) .zd-comment {
  margin-bottom: 12px; }

.time-master {
  width: 100%;
  max-width: 1080px;
  padding: 30px; }
  .time-master_item {
    width: 100%;
    min-height: 125px;
    margin-bottom: 30px;
    vertical-align: top; }
    .time-master_item-wrap {
      border: 1px dashed #e0e0e0;
      border-radius: 5px; }
    .time-master_item--soon .time-master_countdown {
      background-color: #f1af0f; }
    .time-master_item--very-soon .time-master_countdown {
      background-color: #ec6a4c; }
    .time-master_item--past .time-master_countdown {
      background-color: #e74c3c; }
    .time-master_item--not-soon .time-master_countdown {
      background-color: #939ba0; }
    .time-master_item--new {
      line-height: 125px;
      text-align: center;
      cursor: pointer; }
      .time-master_item--new i {
        font-size: 18px; }
    @media screen and (min-width: 768px) {
      .time-master_item {
        float: left;
        width: 50%;
        padding-right: 30px; }
        .time-master_item:nth-child(2n) {
          padding-right: 0; } }
    @media screen and (min-width: 1080px) {
      .time-master_item {
        float: left;
        width: 33.333%;
        padding-right: 30px; }
        .time-master_item:nth-child(2n) {
          padding-right: 30px; }
        .time-master_item:nth-child(3n) {
          padding-right: 0; } }
  .time-master_countdown {
    padding: 10px;
    border-radius: 4px;
    background-color: #297ac5;
    font-size: 26px;
    color: #ffffff; }
    .time-master_countdown > span {
      line-height: 36px; }
    .time-master_countdown:hover .time-master_actions {
      display: block; }
  .time-master_actions {
    display: none;
    float: right; }
    .time-master_actions .button {
      float: left;
      margin: 0; }
  .time-master_details {
    margin-top: 10px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 18px; }
    .time-master_details i {
      vertical-align: text-bottom;
      font-size: 18px;
      margin-right: 5px; }
    .time-master_details > div {
      margin-bottom: 10px; }
      .time-master_details > div ~ div {
        display: inline-block;
        margin-right: 20px; }
      .time-master_details > div:last-child {
        margin-right: 0; }

/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, body {
  height: 100%;
  background-color: #1a1d21; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #2a3035; }
  html * {
    box-sizing: border-box; }

a {
  color: #3498db;
  text-decoration: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }
