$body-font-family: 'Open Sans', sans-serif;

$body-font-size: 13px;
$body-font-weight: 300;

$white: #FFFFFF;
$black: #000000;
$deep-sapphire: #0a3f6f;
$dodger-blue: #0e4579;
$denim: #124d84;
$ink: #10528f;
$navy: #001a49;
$q4-blue: #0f5ca3; //$brand-blue
$steel: #1f6bb0;
$endeavour: #1b5e9a;
$rain: #297ac5; //$brand-light-blue
$sky: #3498db; //$brand-lighter-blue
$teal: #1abc9c; //$brand-green
$dark-teal: #0da084;
$lime: #2ecc71;
$avocado: #3a925f;
$sunshine: #f1c40f;
$citrus: #f1af0f; //$brand-yellow
$mustard: #dc9e27;
$tangerine: #fc7e26;
$ginger: #e67f22;
$amber: #d95608;
$spice: #ec6a4c; //$brand-red
$cherry: #e74c3c;
$eggplant: #6a3476;
$plum: #804a8c; //$brand-purple
$charcoal: #1a1d21;
$raisin: #1F2327;
$dark-slate: #22272b;
$slate: #2a3035;
$light-slate: #545b62;
$grey: #646d75;
$cold-grey: #858e93;
$silver: #939ba0;
$soft-grey: #e0e0e0; //$grey-light
$dark-grey: #e4e4e4; //$grey-light
$light-grey: #eeeeee;
$pale-grey: #f1f1f1;
$muted-grey: #f7f7f7;
$white: #ffffff;
$black-pearl: #14171a;
$raisin-black: #1f2327;

$new: "\e97b";
$coin-dollar: "\ea0b";
$cash: "\ea13";
$email: "\ea32";
$bell: "\ea57";
$calendar: "\ea5f";
$convo: "\eadf";
$user: "\eb00";
$spinner: "\eb26";
$search: "\eb36";
$cog: "\eb62";
$bin: "\ebfd";
$more: "\ec5b";
$question: "\ed55";
$plus: "\ed5d";
$minus: "\ed5e";
$cross: "\ed6e";
$checkmark: "\ed70";
$arrow-up: "\edba";
$arrow-right: "\edbe";
$arrow-down: "\edc2";
$arrow-left: "\edc6";
$checkbox-checked: "\ee6e";
$checkbox-unchecked: "\ee6f";
$radio-checked: "\ee72";
$radio-unchecked: "\ee73";
