$form-gutter: 20px;

.form {
    @include clearfix();
    padding: 30px;

    &_title {
        margin: 0 0 $form-gutter;
        padding: 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    &_section {
        @include clearfix;
        float: left;
        width: 100%;
        max-width: 1020px;
        margin-bottom: 10px;

        &--half {
            width: 100%;
        }
        &--full {
            clear: both;
        }
        &--no-margin {
            margin-bottom: 0;
        }

        @media screen and (min-width: 1080px) {
            &--half {
                width: calc(50% - #{$form-gutter / 2});
                max-width: 500px;

                &:nth-child(odd) {
                    margin-right: $form-gutter / 2;
                }
                &:nth-child(even) {
                    margin-left: $form-gutter / 2;
                }
                &:nth-child(2n + 1) {
                    clear: left;
                }
            }
        }
    }

    &_item {
        float: left;
        margin-right: $form-gutter;
        margin-bottom: $form-gutter;

        &--full {
            width: 100%;
        }
        &--break {
            clear: left;
        }
        &--isolate {
            margin-left: $form-gutter * 3;
        }
    }
}
