$label-height: 22px;
$input-height: 40px;
$submit-width: 40px;

.field {
    display: inline-block;

    &_delete, &_help {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        vertical-align: middle;
        cursor: pointer;
    }

    &_delete {
        margin-right: 8px;
        background-color: $cherry;
        color: $white;
    }

    &_help {
        position: relative;
        margin-left: 8px;
        background-color: $citrus;
        color: $dark-slate;
        vertical-align: middle;

        &:before {
            content: '?';
        }

        &:hover {
            .tooltip {
                display: block;
            }
        }
    }

    &--text, &--textarea {
        .field {
            &_label {
                display: block;
                line-height: $label-height;
            }
            &_crumb {
                display: inline-block;
                color: $light-slate;
                line-height: $input-height;

                & + input {
                    margin-left: 5px;
                }
            }
            &_input {
                display: inline-block;
                height: $input-height;
                padding: 10px 8px;
                border: none;
                background: $light-grey;
                font-family: $body-font-family;
                font-weight: $body-font-weight;
                line-height: $input-height;

                &--short {
                    max-width: 150px;
                }

                &::placeholder {
                    font-family: $body-font-family;
                }
                &:focus {
                    outline: none;
                }

                & + span {
                    margin-left: 5px;
                }
            }
        }
    }

    &--checkbox {
        .field {
            &_label {
                display: inline-block;
                line-height: $label-height;
            }
            &_input {
                display: none;

                & + label:before {
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-right: 8px;
                    background: $light-grey;
                    border-radius: 3px;
                    color: $white;
                    text-align: center;
                    line-height: 18px;
                    cursor: pointer;
                    vertical-align: text-bottom;
                }
                &:checked + label:before {
                    content: "\2713";
                    background: $rain;
                }

                &--teal {
                    &:checked + label:before {
                        background: $teal;
                    }
                }
            }
        }
    }
    &--tall {
        padding-top: $label-height;
        line-height: $input-height;
    }

    &--radio {
        fieldset {
            line-height: 40px;
        }

        .field {
            &_label {
                display: inline-block;
                line-height: $label-height;
            }
            &_input {
                display: none;

                & + label {

                    &:before {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 8px;
                        background: $white;
                        border: 4px solid $light-grey;
                        border-radius: 50%;
                        color: $white;
                        text-align: center;
                        line-height: 18px;
                        cursor: pointer;
                        vertical-align: text-bottom;
                    }

                    & ~ label {
                        margin-left: $form-gutter / 2;
                    }
                }
                &:checked + label:before {
                    background: $rain;
                }

                &--teal {
                    &:checked + label:before {
                        background: $teal;
                    }
                }
                &--citrus {
                    &:checked + label:before {
                        background: $citrus;
                    }
                }
            }
        }
    }

    &--list {
        width: 100%;
        position: relative;

        .field {
            &_items {
                margin-bottom: $form-gutter / 2;
            }
            &_item {
                width: 100%;
                @include truncate();
                border-bottom: 1px solid $light-grey;

                .field {
                    &_value {
                        display: inline-block;
                        width: calc(100% - 38px);
                        padding: ($form-gutter / 2) 0;
                        line-height: 18px;
                        white-space: normal;
                        vertical-align: middle;
                    }
                }

                &--truncate {
                    line-height: $input-height;

                    .field {
                        &_value {
                            display: inline;
                            width: auto;
                            padding: 0;
                            white-space: nowrap;
                        }
                    }
                }
                &:first-child {
                    border-top: 1px solid $light-grey;
                }
            }
            &_input {
                width: calc(100% - #{$input-height});
            }
            &_submit {
                position: absolute;
                bottom: 0;
                right: 0;
                display: block;
                width: $submit-width;
                height: $input-height;
                background-color: $rain;
                color: $white;
                font-size: 28px;
                text-align: center;
                line-height: $input-height;
                cursor: pointer;
            }
        }
    }

    &--textarea {
        .field {
            &_input {
                display: block;
                height: $input-height * 4;
                line-height: 18px;
                resize: none;
            }
            &_submit {
                height: $input-height * 4;
                line-height: $input-height * 4;
            }
        }
    }

    &--submit {
        line-height: $input-height;

        .field {
            &_input {
                display: inline-block;
                width: 105px;
                height: $input-height;
                line-height: 18px;
                padding: 10px 8px;
                background-color: $teal;
                border: none;
                border-radius: 3px;
                box-shadow: inset $dark-teal 0 0 10px;
                font-family: $body-font-family;
                font-weight: $body-font-weight;
                color: transparent;
                text-indent: -999999px;
                overflow: hidden;
                vertical-align: middle;
                resize: none;

                &::placeholder {
                    font-family: $body-font-family;
                    font-weight: $body-font-weight;
                    color: $white;
                    text-indent: 0;
                }

                &:focus {
                    outline: none;
                    background-color: $dark-teal;
                    box-shadow: inset $avocado 0 0 10px;
                }
            }
            &_submit {
                height: $input-height * 4;
                line-height: $input-height * 4;
            }
        }
    }
}
